* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    border: black solid 5px;
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#title {
    border: 2px solid red;
    width: 80%;
    height: 20%;
}

#title h3 {
    text-align: center;
}

#condition {
    border: 2px solid greenyellow;
    width: 80%;
    height: 60%;
    display: flex;
}

#condition img {
    width: 50%;
}